@model Quote.App.ViewModel.ContinentCountriesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>All over the world</h2>

@* <button>All</button> *@
@* <button>Asia</button> *@
@* <button>Africa</button> *@
@* <button>Europe</button> *@
@* <button>North America</button> *@
@* <button>Oceania</button> *@
@* <button>South America</button> *@

@Html.ActionLink("All", "FilterByContinent", new { id = "All" }, new { @class = "btn btn-default" })
@Html.ActionLink("Asia", "FilterByContinent", new { id = "Asia" }, new { @class = "btn btn-default" })
@Html.ActionLink("Africa", "FilterByContinent", new { id = "Africa" }, new { @class = "btn btn-default" })
@Html.ActionLink("Europe", "FilterByContinent", new { id = "Europe" }, new { @class = "btn btn-default" })
@Html.ActionLink("North America", "FilterByContinent", new { id = "North America" }, new { @class = "btn btn-default" })
@Html.ActionLink("Oceania", "FilterByContinent", new { id = "Oceania" }, new { @class = "btn btn-default" })
@Html.ActionLink("South America", "FilterByContinent", new { id = "South America" }, new { @class = "btn btn-default" })

<table class="tablee table-hover table-bordered">
    <tr>
        <th><b>Country</b></th>
        <th><b>Total<br />Cases</b></th>
        <th><b>Today<br />case</b></th>
        <th><b>Total<br />Deaths</b></th>
        <th><b>Today<br />Deaths</b></th>
        <th><b>Total<br />Recovered</b></th>
        <th><b>Today<br />Recovered</b></th>
        <th><b>Active<br />Cases</b></th>
        <th><b>Critical<br />Cases</b></th>
        <th><b>Tests</b></th>
        <th><b>Population</b></th>
    </tr>

    <tr>
        <td>@Model.continent.continent</td>
        <td>@Model.continent.cases</td>
        <td>@Model.continent.todayCases</td>
        <td>@Model.continent.deaths</td>
        <td>@Model.continent.todayDeaths</td>
        <td>@Model.continent.recovered</td>
        <td>@Model.continent.todayRecovered</td>
        <td>@Model.continent.active</td>
        <td>@Model.continent.critical</td>
        <td>@Model.continent.tests</td>
        <td>@Model.continent.population</td>
    </tr>
    @foreach (var country in Model.countries)
    {
        <tr style="text-align: center">
            <td>@Html.ActionLink(country.country, "OneCountry", new { id = country.country })</td>
            <td>@country.cases</td>
            <td>@country.todayCases</td>
            <td>@country.deaths</td>
            <td>@country.todayDeaths</td>
            <td>@country.recovered</td>
            <td>@country.todayRecovered</td>
            <td>@country.active</td>
            <td>@country.critical</td>
            <td>@country.tests</td>
            <td>@country.population</td>
        </tr>
    }
</table>

