@model Quote.App.ViewModel.AllCountriesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>All over the world</h2>

<button>All</button>
<button>Asia</button>
<button>Africa</button>
<button>Europe</button>
<button>North America</button>
<button>Oceania</button>
<button>South America</button>

<table class="tablee table-hover table-bordered">
    <tr>
        <th><b>Country</b></th>
        <th><b>Total<br/>Cases</b></th>
        <th><b>Today<br />case</b></th>
        <th><b>Total<br />Deaths</b></th>
        <th><b>Today<br />Deaths</b></th>
        <th><b>Total<br />Recovered</b></th>
        <th><b>Today<br />Recovered</b></th>
        <th><b>Active<br />Cases</b></th>
        <th><b>Critical<br />Cases</b></th>
        <th><b>Tests</b></th>
        <th><b>Population</b></th>
    </tr>

    <tr>
        <td>Global</td>
        <td>@Model.global.cases</td>
        <td>@Model.global.todayCases</td>
        <td>@Model.global.deaths</td>
        <td>@Model.global.todayDeaths</td>
        <td>@Model.global.recovered</td>
        <td>@Model.global.todayRecovered</td>
        <td>@Model.global.active</td>
        <td>@Model.global.critical</td>
        <td>@Model.global.tests</td>
        <td>@Model.global.population</td>
    </tr>
    @foreach (var country in Model.countries)
    {
        <tr style="text-align: center">
            <td>@Html.ActionLink(country.country, "OneCountry", new { id = country.country })</td>
            <td>@country.cases</td>
            <td>@country.todayCases</td>
            <td>@country.deaths</td>
            <td>@country.todayDeaths</td>
            <td>@country.recovered</td>
            <td>@country.todayRecovered</td>
            <td>@country.active</td>
            <td>@country.critical</td>
            <td>@country.tests</td>
            <td>@country.population</td>
        </tr>
    }
</table>

