@model Quote.App.Models.Covid19.CountryRoot

@{
    ViewBag.Title = @Model.country;
}

<div style="margin-top: 3%">
    <div style="text-align: center">
        <p><img src="@Model.countryInfo.flag" height="75px" width="112.5px" style="display: inline-block"></p>
        <p style="font-size: 3.5em"><i><b>@Model.country</b></i></p>
    </div>

    <br />

    <div style="text-align: center">
        <p style="font-size: 2em">Coronavirus Cases:</p>
        <p style="font-size: 3.5em; color: darkgrey"><b><i>@String.Format("{0:n0}", @Model.cases)</i></b></p>
    </div>

    <div style="text-align: center">
        <p style="font-size: 2em">Deaths:</p>
        <p style="font-size: 3.5em; color:grey"><b><i>@String.Format("{0:n0}", @Model.deaths)</i></b></p>
    </div>

    <div style="text-align: center">
        <p style="font-size: 2em">Recovered:</p>
        <p style="font-size: 3.5em; color:#8ACA2B"><b><i>@String.Format("{0:n0}", @Model.recovered)</i></b></p>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
