@model IEnumerable<Quote.App.Models.Covid19.ContinentRoot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.continent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.todayCases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.todayDeaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recovered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.todayRecovered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.critical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.population)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.continent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cases)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.todayCases)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deaths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.todayDeaths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recovered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.todayRecovered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.critical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.population)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
